@model _2021_dotnet_e_02.Models.ActemiumTicket

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*--this page is currently Not in use !! Edit.cshtml is used instead *@

<div class="container">
    
    <div class="edit-view-model">

        <h2>Create new Ticket</h2>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TicketId" class="control-label"></label>
                        <select asp-for="TicketId" class ="form-control" asp-items="ViewBag.TicketId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Priority" class="control-label"></label>
                        <select asp-for="Priority" class="form-control"></select>
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateAndTimeOfCreation" class="control-label"></label>
                        <input asp-for="DateAndTimeOfCreation" class="form-control" />
                        <span asp-validation-for="DateAndTimeOfCreation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateAndTimeOfCompletion" class="control-label"></label>
                        <input asp-for="DateAndTimeOfCompletion" class="form-control" />
                        <span asp-validation-for="DateAndTimeOfCompletion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Attachments" class="control-label"></label>
                        <input asp-for="Attachments" class="form-control" />
                        <span asp-validation-for="Attachments" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TicketType" class="control-label"></label>
                        <select asp-for="TicketType" class="form-control"></select>
                        <span asp-validation-for="TicketType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Solution" class="control-label"></label>
                        <input asp-for="Solution" class="form-control" />
                        <span asp-validation-for="Solution" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quality" class="control-label"></label>
                        <input asp-for="Quality" class="form-control" />
                        <span asp-validation-for="Quality" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SupportNeeded" class="control-label"></label>
                        <input asp-for="SupportNeeded" class="form-control" />
                        <span asp-validation-for="SupportNeeded" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
