@using _2021_dotnet_e_02.Models.Enums
@model _2021_dotnet_e_02.Models.ViewModels.TicketViewModel.EditViewModel

@{
    ViewData["Title"] = (bool)ViewData["IsEdit"] ? "Edit - " + @Model.Title : "Create Ticket";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*-- This page is currently used for EDIT and CREATE or not ? --*@

<div class="container" data-aos="fade-up" data-aos-offset="120" data-aos-duration="500" data-aos-once="false" data-aos-easing="ease-out-cubic" data-aos-delay="25">

    <div class="edit-view-model">
        <h2>@ViewData["Title"]</h2>

        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Status"></label>
                @if ((bool)ViewData["IsSupportManager"])
                {
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<TicketStatus>()" class="form-control">
                    </select>
                }
                else
                {
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<TicketStatus>()" class="form-control" disabled>
                    </select>
                }
                <!--<span asp-validation-for="Status" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="Priority"></label>
                <select asp-for="Priority" asp-items="Html.GetEnumSelectList<TicketPriority>()" class="form-control">
                </select>
                <!--<span asp-validation-for="Priority" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <!--<span asp-validation-for="Title" class="text-danger"></span>-->
            </div>
            @if (!(bool)ViewData["IsEdit"])
            {
                <div class="form-group">
                    <label asp-for="CompanyName"></label>
                    @if ((bool)ViewData["IsSupportManager"])
                    {
                        <input asp-for="CompanyName" class="form-control" />
                    }
                    else
                    {
                        <input asp-for="CompanyName" class="form-control" value=@ViewData["SignedInUserCompany"] readonly />
                    }
                    <!--<span asp-validation-for="Status" class="text-danger"></span>-->
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="CompanyName"></label>
                    <input asp-for="CompanyName" class="form-control" readonly />
                    <!--<span asp-validation-for="Status" class="text-danger"></span>-->
                </div>
            }
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <!--<span asp-validation-for="Description" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="Attachments"></label>
                <input asp-for="Attachments" class="form-control" />
                <!--<span asp-validation-for="Attachments" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="TicketType"></label>
                <select asp-for="TicketType" asp-items="Html.GetEnumSelectList<TicketType>()" class="form-control">
                </select>
                <!--<span asp-validation-for="TicketType" class="text-danger"></span>-->
            </div>
            @if ((bool)ViewData["IsEdit"] && Model.Status == TicketStatus.COMPLETED)
            {
                if ((bool)ViewData["IsSupportManager"])
                {
                <div class="form-group">
                    <label asp-for="Solution"></label>
                    <input asp-for="Solution" class="form-control" />
                    <!--<span asp-validation-for="Solution" class="text-danger"></span>-->
                </div>
                }
                <div class="form-group">
                    <label asp-for="Quality"></label>
                    <input asp-for="Quality" class="form-control" />
                    <!--<span asp-validation-for="Quality" class="text-danger"></span>-->
                </div>
                if ((bool)ViewData["IsSupportManager"])
                {
                <div class="form-group">
                    <label asp-for="SupportNeeded"></label>
                    <input asp-for="SupportNeeded" class="form-control" />
                    <!--<span asp-validation-for="SupportNeeded" class="text-danger"></span>-->
                </div>
                }
            }

            <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-primary mr-3" type="submit">Save</button>
                @if ((bool)ViewData["IsEdit"])
                {
                    <a asp-action="FullDetailsNewWindow" asp-route-id="@Model.TicketId" class="btn btn-secondary">Cancel</a>
                }
                else
                {
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                }
            </div>
        </form>
    </div>
</div>


@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
} 