.welcome-dashboard {
  background-image: url("../images/world-connected.jpg");
  min-height: 350px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
}

@media only screen and (max-device-width: 992px) {
  .welcome-dashboard {
    background-attachment: scroll;
  }
}

.opacity-100{
  opacity: 1;
}

.text-in-picture-dashboard {
  span {
    color: $white;
    font-size: 2rem;
    font-weight: bold;
  }
  h3 {
    color: $white;
    font-weight: normal;
  }
}

.dashboard-main {
  background-color: $white;
  padding: 2rem;
  border-radius: 25px;
}

.number-tickets {
  font-size: 3rem;
  font-weight: bold;
  border-right: 1px solid $white;
  padding: 0 .5rem;
  &.number-open-tickets {
    background-color: #f9484a;
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.number-resolved-tickets {
    background-color: #04790f;
    background-image: linear-gradient(315deg, #04790f 0%, #51db15 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.total-tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  border-radius: 5px;
  margin: .5rem;
}

.company-tickets {
  color: $white;
  text-transform: uppercase;
  padding: 0 .5rem;
  margin: 0;
}

.overview-open-tickets {
  > div:first-of-type {
    border-bottom: 3px solid;
    border-image-source: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
    border-image-slice: 1;
    > div {
      text-transform: uppercase;
      margin-left: 1rem;
    }
  }
}

.overview-resolved-tickets {
  > div:first-of-type {
    border-bottom: 3px solid;
    border-image-source: linear-gradient(315deg, #04790f 0%, #51db15 74%);
    border-image-slice: 1;
    > div {
      text-transform: uppercase;
      margin-left: 1rem;
    }
  }
}

.card-ticket {
  border: 1px solid $dark-gray;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.open-ticket-title {
  color: $blue;
  font-weight: bold;
}

.resolved-ticket-title {
  color: $dark-gray;
  font-weight: bold;
}

.resolved-background {
  background-color: #f5f2ec;
  opacity: .9;
}

.overflow {
  width: 75%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon-open-ticket{
  text-align: center;
  margin-bottom: 3px;
  margin-right: .5rem;
  i {
    color: #d95e5e;
    font-size: 25px;
    &:first-of-type {
      margin-bottom: 1rem;
    }
  }
}

.icon-resolved-ticket {
  text-align: center;
  margin-right: .5rem;
  i {
    color: #04790F;
    font-size: 25px;
  }
}

.resolved {
  color: #04790F;
}

.ticket-updated {
  border: 2px $red solid;
}