@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-weight: bold;
}

.i-medium {
  font-size: 20px;
}

.i-bigger {
  font-size: 30px;
}

.i-very-bigger {
  font-size: 40px;
}

.text-bold {
  font-weight: bold;
}
