#searchTickets {
  width: 100%;
}

.table {
  th {
    background-color: $blue;
    color: $white;
    border: none;
  }
  tr{
    td {
      border: none;
      word-wrap: break-word;
      max-width: 100px;
      &:nth-of-type(2){
        font-weight: bold;
      }
      .title {
        
      }
    }
    &:nth-child(even) {
      background-color: rgba($green, .075);
    }
  }
  input[type=checkbox] {
    width: 1.25em;
    height: 1.25em;
    color: #fff;
    border: 1px solid #666;
    appearance: none;
    background-color: $white;
    &:checked {
      color: $white;
      border-color: $green;
      background: $green;
      &::before {
        opacity: 1;
      }
      ~ label::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
  tr {
    &:hover {
      background-color: $green;
    }
  }
}

.prio {
  padding: .15rem .5rem;
  border-radius: 10px;
  &.prio-1{
    background-color: rgba($red, .15);
    color: $red;
  }
  &.prio-2{
    background-color: rgba($orange, .15);
    color: $orange;
  }
  &.prio-3{
    background-color: rgba($green-prio, .15);
    color: $green-prio;
  }
}

.actions {
  color: $blue;
  i:first-of-type {
    margin-right: .25rem;
  }
}

#contentTicket {
  border: 3px $blue solid;
}

#getDetails {
  &:hover {
    cursor: pointer;
  }
}

#content {
  margin-top: 3rem;
  width: 100%;
}
