$white:#fff;
$blue:#004087;
$light-blue: #2d5591;
$very-light-blue: #b5d3ef;
$green:#c6d200;
$light-green: #c3cb67;
$dark-gray:#666;
$light-gray:#999;
$very-light-gray:#e6e6e6;
$red: #b31212;
$orange: #d28d0f;
$green-prio: #199d19;
